- color ||= "blue"

.l-text-center.l-button-padding
  = link_to path do
    %span.m-font-medium.m-font-bold.l-button-padding.a-hover-bg-blue{class: "m-color-#{color} m-button-stroke-#{color}"}
      = text
