- target ||= nil
.l-circle-size.l-relative.m-circle{class: "a-hover-circle-#{hover_color}", data: {area: "circle-button"}}
  .l-absolute-center
    = link_to path, target: target, class: "l-circle-size m-circle m-circle-stroke-#{color} l-relative l-inline-block" do
      .l-absolute-center{class: icon}
