.m-bg-medium-grey.l-text-center.l-large-vertical-padding{data: {area: "connect"}}

  .l-inline-block.l-circle-padding
    = render "shared/circle", color: "white", hover_color: "white", path: root_path, icon: "stack_overflow"
  .l-inline-block.l-circle-padding
    = render "shared/circle", color: "white", hover_color: "white", path: root_path, icon: "email"
