%nav.m-bg-blue
  .l-max-content-width.l-horizontal-center.l-content-padding
    .l-relative.l-nav-height
      = link_to root_path do
        .madebymiles_logo.l-vertical-center.a-hover-opacity

      .l-right.l-absolute.l-height-100
        .l-relative.l-show-on-mobile.l-height-100
          .hamburger.m-clickable.l-vertical-center.l-right

        .l-hide-on-mobile.l-height-100
          - Navigation.tabs.each do |tab|
            = link_to tab.path, class: "l-nav-tab-padding l-height-100 l-inline-block a-hover-nav-tab" do
              %div{class: "#{Navigation.tab_classes(name_of_controller, tab.text)} l-nav-tab-text" }
                = tab.text
