- button_off ||= false
- button_text ||= nil
- path ||= nil
- color ||= nil
- line_off ||= nil

%div{data: {area: name}}
  .l-max-content-width.l-horizontal-center.l-content-padding
    .l-large-vertical-padding
      = render "shared/header", text: name, color: color
      = yield
      - unless button_off
        = render "shared/button", text: button_text, path: path, color: color
    - unless line_off
      = render "shared/line"