.l-medium-padding.m-bg-lightest-grey.l-medium-bottom-margin
  .l-text-center
    .cog_orange.l-inline-block.l-relative.l-v-align-middle.l-small-margin-right.l-cog-adj
    .l-v-align-middle.l-inline-block.m-color-dark-grey.m-large.m-bold= header_text
    .l-medium-bottom-margin= render "shared/line"
  = yield