.m-bg-dark-grey.l-width-100{data: {name: "splash-area"}}
  .l-max-content-width.l-simple-center.l-content-padding
    .l-splash-padding
      .col-1-2.m-font-largest.m-font-bold.m-color-white.l-v-align-middle.l-relative
        = "DEVELOPER DESIGNER TEACHER"
        .m-bg-orange.l-splash-line.l-height-100.l-absolute.l-right.l-top

      .col-1-2.m-font-medium.m-font-thin.m-color-light-grey.l-v-align-middle.l-splash-info-padding.l-pad-fix
        = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text"