.l-bar-height.m-bg-light-grey.l-relative.l-medium-bottom-margin{data: {name: "bar"}}
  .l-absolute.m-bg-active-blue.l-height-100.m-color-white.m-font-thin.m-font-medium{style: "width: #{percentage}%"}
    .l-relative.l-height-100
      .l-vertical-center.l-content-padding= name