.l-max-content-width.l-horizontal-center.l-content-padding
  .col-1-1.col-1-2-med.l-v-align-middle.l-large-vertical-padding
    .m-font-largest.m-font-bold.m-color-darkest-grey.l-medium-bottom-margin
      = "about me"
    .m-font-large.m-font-thin.m-color-dark-grey.l-medium-bottom-margin
      = "I'm a Ruby-on-Rails Developer with a background in design, living in Atlanta, GA."
    .m-font-medium.m-font-thin.m-color-dark-grey
      = "Code review and refactoring in an agile environment is by far my favorite aspect of being a developer because I get to teach others how to improve their code and learn new ways to improve my own."
  .col-1-1.col-1-2-med.l-v-align-middle.l-text-center
    = render "pie_chart"


  .l-line-height.l-width-100.m-bg-light-grey

  .l-large-vertical-padding.m-font-thin.m-font-medium="foo"


  / HI THERE! I'M KRISTA.
  /
  / I live in San Francisco, where I help individuals, small businesses, and early-stage startups build their web presence.
  /
  / I left my full-time job mid-2015 to focus on the thing that makes me happiest: helping people share their passions. Despite the fact that I was working on extracurricular projects during weekends and late at night, I always thought that the number of "hats" I've worn in my seven-year career startup had left me without the specialty or focus required to formally start my own company. Turns out, I was wrong - and I'm grateful to have incredible variety built into my current workload!
  /
  / I was honored to be featured on CloudPeeps' list of '10 Freelancers to Watch', Daily Muse's list of 'The 35 Best Personal Websites We've Ever Seen' and as the subject of a Pinterview by Pinterest.
  /
  / When I'm not working on cool projects with inspiring people, you can catch me in a Bar Method class, coffee shop, or meticulously planning my next trip. Follow my global adventures on Trippy, where I served as an official travel Ambassador.





  / My interest in web development stemmed from my passion for gaming. Between developing websites and playing video games, I admittedly spend most of my time in front of a screen. Some of my passions are writing clean code, creating sexy user experiences and filling up a fresh cup of coffee.