.m-bg-dark-grey{data: {area: "splash"}}
  .l-max-reading-width.l-horizontal-center.l-content-padding.l-text-center
    .l-large-vertical-padding.m-font-medium.m-font-thin.m-color-light-grey
      = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text"
