.l-max-content-width.l-horizontal-center.l-content-padding
  .col-1-1.col-1-2-med.l-v-align-middle.l-large-vertical-padding
    .m-font-largest.m-font-bold.m-color-darkest-grey.l-medium-bottom-margin
      = "about me"
    .m-font-large.m-font-thin.m-color-dark-grey.l-medium-bottom-margin
      = "I'm a front-end and back-end Ruby-on-Rails Developer with a background in design."
    .m-font-medium.m-font-thin.m-color-dark-grey
      = "Code review and refactoring in an agile environment is by far my favorite aspect of being a developer because I get to teach others how to improve their code and learn new ways to improve my own."
  .col-1-1.col-1-2-med.l-v-align-middle.l-text-center
    = render "pie_chart"


  .l-line-height.l-width-100.m-bg-light-grey

  .l-large-vertical-padding.m-font-thin.m-font-medium="foo"