@import "variables";
@import "mixins";

.a-hover-nav-tab:hover {
  background: $active-blue;
}
.a-hover-bg-blue:hover {
  background: $blue;
  color: white;
}
.a-hover-blue:hover {
  color: $blue;
}
[class*=a-hover-circle-]:hover {
  .l-circle-size {
    @include transition(all, 0.18s, ease-out);
    width: 45px;
    height: 45px;
  }
}
.a-hover-circle-blue:hover {
  @include transition(all, 0.18s, ease-out);
  .m-circle-stroke-dark-blue {
    @include circle-stroke($blue)
  }
}
.a-hover-opacity:hover {
  opacity: 0.75;
}