@import "mixins";

// Roles.css


// layouts
.l-hide {
  display: none;
}
.l-block {
  display: block;
}
.l-inline {
  display: inline;
}
.l-inline-block {
  display: inline-block;
}
.l-relative {
  position: relative;
}
.l-absolute {
  position: absolute;
}
.l-fixed {
  position: fixed;
}
.l-left {
  left: 0;
}
.l-right {
  right: 0;
}
.l-top {
  top: 0;
}
.l-bottom {
  bottom: 0;
}
.l-height-100 {
  height: 100%;
}
.l-width-100 {
  width: 100%;
}
.l-v-align-top {
  vertical-align: top;
}
.l-v-align-middle {
  vertical-align: middle;
}
.l-v-align-bottom {
  vertical-align: bottom;
}
.l-text-left {
  text-align: left;
}
.l-text-center {
  text-align: center;
}
.l-text-right {
  text-align: right;
}
.l-horizontal-center {
  margin: 0 auto;
}
.l-absolute-vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.l-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.l-no-wrap {
  white-space: nowrap;
}
.l-wrap {
  white-space: normal;
}


// modules
.m-overflow-hidden {
  overflow: hidden;
}
.m-clickable {
  cursor: pointer;
}
.m-circle {
  border-radius: 100%;
}
.m-bg-black {
  background: black;
}
.m-bg-white {
  background: white;
}
.m-color-white {
  color: white;
}
.m-color-black {
  color: black;
}


// show and hide
.l-hide-on-desktop {
  @media only screen and (min-width: $lrg) {
    display: none;
  }
}
.l-hide-on-tablet {
  @media only screen and (min-width: $med) and (max-width: $lrg) {
    display: none;
  }
}
.l-hide-on-mobile {
  @media only screen and (max-width: $med) {
    display: none;
  }
}


//tables


//FLOATS
.l-float-right {
  float: right;
}
.l-float-left {
  float: left;
}
.l-clear-both {
  clear: both;
}
.l-clear-left {
  clear: left;
}
.l-clear-right {
  clear: right;
}


// LESS COMMON
.m-debug {
  outline: 2px dashed pink;
}
.l-pad-fix {
  box-sizing: border-box;
}
