@import "variables";

// GENERAL
.l-max-content-width {
  max-width: 1000px;
}
.l-content-padding {
  padding: 0 20px;
}

// NAV
.l-nav-height {
  height: $nav-height;
}
.l-nav-logo-height {
  height: 45px;
}
.l-nav-tab-text {
  top: 20px;
}
.l-nav-tab-padding {
  padding: 0 15px;
}


// SPLASH
.l-splash-padding {
  padding-top: calc( #{$nav-height} - 10px);
  padding-bottom: calc( #{$nav-height} - 10px);
}
.l-splash-line {
  width: 2px;
}
.l-splash-info-padding {
  padding: 0 20px;
}