@import "variables";

// GENERAL
.l-max-content-width {
  max-width: 950px;
}
.l-float-left {
  float: left;
}


// SPACING
.l-content-padding {
  padding: 0 20px;
}
.l-vertical-margin-large {
  margin-top: calc( #{$nav-height} - 10px);
  margin-bottom: calc( #{$nav-height} - 10px);
}
.l-vertical-padding-large {
  padding-top: calc( #{$nav-height} - 10px);
  padding-bottom: calc( #{$nav-height} - 10px);
}
.l-top-margin-small {
  margin-top: 10px;
}
.l-margin-bottom {
  margin-bottom: 20px;
}
.l-top-margin-large {
  margin-top: calc( #{$nav-height} - 10px);
}


// NAV
.l-nav-height {
  height: $nav-height;
}
.l-nav-logo-height {
  height: 45px;
}
.l-nav-tab-text {
  top: 20px;
}
.l-nav-tab-padding {
  padding: 0 15px;
}


// SPLASH
.l-splash-line-width {
  width: 2px;
}
.l-splash-info-padding {
  padding: 0 40px;
}


// ABOUT
.l-about-text-margin {
  margin-left: calc(#{$profile-head-width} + 20px);
}
.l-about-head-width {
  width: $profile-head-width;
}


// OTHER
.l-cog {
  height: 18px;
  top: 2px;
}
.l-square-parent, .l-16-9-parent {
  width: 100%;
}
.l-square-parent {
  padding-bottom: 100%;
}
.l-16-9-parent {
  padding-bottom: 56.25%;
}
.l-sized-child {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.l-button-padding {
  padding: 10px 25px;
}
.l-card-padding {
  padding: 20px;
}
.l-card-more-vertical-margin {
  margin-top: calc( #{$nav-height} - 30px);
  margin-bottom: calc( #{$nav-height} - 20px);
}
.l-tag {
  padding: 5px;
  margin: 5px 10px 5px 0px;
}
.l-arrow-button-width {
  width: 40px;
}
