@import "variables";
@import "mixins";

// GENERAL
.l-max-content-width {
  max-width: 1050px;
}
.l-max-reading-width {
  max-width: 800px;
}
.l-z-index-5 {
  z-index: 5;
}
.l-square-parent, .l-16-9-parent {
  width: 100%;
}
.l-square-parent {
  padding-bottom: 100%;
}
.l-16-9-parent {
  padding-bottom: 56.25%;
}
.l-sized-child {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.l-square-parent.mobile-unconfined {
  @include respond-to(0, $med) {
    padding-bottom: initial;
  }
  .l-sized-child {
    @include respond-to(0, $med) {
      position: initial;
    }
  }
}


// MARGIN
.l-large-top-margin {
  margin-top: $large-vertical-spacing;
}
.l-medium-bottom-margin {
  margin-bottom: 20px;
}
.l-post-card-bottom-margin {
  margin-bottom: 40px;
}
.l-small-top-margin {
  margin-top: 10px;
}
.l-mobile-medium-bottom-margin {
  @include respond-to(0px, $med) {
    margin-bottom: 20px;
  }
}
.l-small-margin-right {
  margin-right: 5px;
}


// PADDING
.l-content-padding {
  @include side-padding(20px);
}
.l-medium-padding {
  padding: 20px;
}
.l-button-padding {
  padding: 10px 25px;
}
.l-smallest-padding {
  padding: 5px;
}
.l-small-vertical-padding {
  @include vertical-padding(20px);
}
.l-medium-vertical-padding {
  @include vertical-padding(40px);
}
.l-large-vertical-padding {
  @include vertical-padding(40px);
  @include respond-to($med) {
    @include vertical-padding($large-vertical-spacing);
  }
}
.l-nav-tab-padding {
  @include side-padding(15px);
}
.l-circle-padding {
  @include side-padding(10px);
}


// HEIGHT
.l-nav-height {
  height: $nav-height;
}
.l-line-height {
  height: 1px;
}
.l-large-profile-head-height {
  height: 180px;
}
.l-bar-height {
  height: 40px;
}
.l-school-logo-height {
  height: 80px
}


// OTHER
.l-nav-tab-text {
  top: 20px;
}
.l-nav-logo-position {
  top: 50%;
  @include prefixes(transform, translateY(-50%));
  @include respond-to(0px, $med) {
    left: 50%;
    @include prefixes(transform, translate(-50%, -50%));
  }
}
.l-nav-menu {
  margin-top: $nav-height;
  height: calc(100% - $nav-height);
}
.l-line-width {
  width: 1px;
}
.l-about-head {
  @include respond-to($med) {
    position: absolute;
  }
}
.l-tag-text-spacing {
  padding: 5px;
  margin: 5px 10px 5px 0px;
}
.l-tag-spacing {
  top: 6px;
  margin-right: 5px;
}
.l-circle-size {
  width: 45px;
  height: 45px;
}