@import "variables";

@mixin prefixes($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}
@mixin respond-to($min-width, $max-width : false) {
  @if $max-width {
    @media only screen and (min-width: $min-width) and (max-width: $max-width) { @content; }
  } @else {
    @media only screen and (min-width: $min-width) { @content; }
  }
}
@mixin transition($property, $duration : 0.5s, $ease : ease-out) {
  @include prefixes(transition, $property $duration $ease)
}
@mixin circle-stroke($color) {
  border: 2px solid $color;
}
@mixin vertical-padding($amount) {
  padding-top: $amount;
  padding-bottom: $amount;
}
@mixin side-padding($amount) {
  padding-left: $amount;
  padding-right: $amount;
}
@mixin hide-on($min-width, $max-width : false) {
  @include respond-to($min-width, $max-width) {
    display: none;
  }
}
@mixin underline($color) {
  border-bottom: 2px solid #{$color};
}