@import "variables";

// FONT COLORS
.m-color-white {
  color: white;
}
.m-color-light-grey {
  color: $light-grey;
}
.m-color-dark-grey {
  color: $dark-grey;
}
.m-color-darkest-grey {
  color: $darkest-grey;
}
.m-color-light-blue {
  color: $light-blue;
}


// BACKGROUND COLORS
.m-bg-light-blue {
  background: $light-blue;
}
.m-bg-dark-grey {
  background: $dark-grey;
}
.m-bg-orange {
  background: $orange;
}
.m-bg-light-grey {
  background: $light-grey;
}


// FONT SIZES
.m-font-largest {
  font-size: 59px;
  letter-spacing: -4px;
  line-height: 53px;
}
.m-font-large, .m-font-medium {
  letter-spacing: -0.5px;
  line-height: 28px;
}
.m-font-large {
  font-size: 25px;
}
.m-font-medium {
  font-size: 19px;
}
.m-font-small {
  font-size: 13px;
}


// FONTS
.m-font-thin {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 300;
}
.m-font-bold {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}


// OTHER
.m-underline-white {
  border-bottom: 2px solid white;
}
.m-button-stroke {
  border: 2px solid $light-blue;
}