$med: 48em;// 768px
$lrg: 64em;//1024px;

$red: #d83b3c;
$dark-blue: #47739b;
$blue: #6baeeb;
$active-blue: #5e9fda;
$dark-grey: #515558;
$darkest-grey: #373a3c;
$medium-grey: #bbbbbb;
$medium-grey2: #d3d3d3;
$light-grey: #f1f1f1;
$orange: #f7751f;

$nav-height: 68px;
$profile-head-width: 128px;
$large-vertical-spacing: calc( #{$nav-height} - 10px);
