<div class='l-inline-block' style="width: 20%">
  &nbsp;
</div>

<ul class='l-inline-block'>
<% Image.order("title").each do |image| %>
  <li>
    <%= "![#{image.title}](internal #{image.title})" %>
  </li>
<% end %>
</ul>
